#products{
  margin-bottom: 400px;
  text-align: center;
}
.main-div{
  width: 70%;
  height: 450px;
  position: absolute;
  left: 55%;
  top: 55%;
  transform: translate(-55%, -55%);
  background-image: url('/SharmaSteelFurniture/images/Almirah1.jpg');
  background-size:  100% 100%;
  box-shadow: 1px 2px 10px 5px rgb(0, 0, 0);
  animation: slider 9s infinite alternate;

}
@keyframes slider{
  0%{
      background-image: url('/SharmaSteelFurniture/images/New.jpg');
  }
  50%{
      background-image: url('/SharmaSteelFurniture/images/Almirah2.jpg');
  }
  80%{
    background-image: url('/SharmaSteelFurniture/images/logo.png');
  }
  100%{
      background-image: url('/SharmaSteelFurniture/images/Almirah1.jpg');
  }
}